<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">


        <title>Image Annotator</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <link href="/static/sticky-footer-navbar.css" rel="stylesheet">
        <link href="/static/pace.css" rel="stylesheet">
        <link href="/static/custom.css" rel="stylesheet">

    </head>

    <body>

        <div class="container">

            <div class="page-header">
                <h1>Reverse Query Annotations</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><a href="/">Go Home</a></p>
                    <strong>Instructions:</strong>
                    <ol>
                        <li>You will be presented with an image and a search bar.</li>
                        <li>The images were shot with a personal lifelog camera, i.e. a camera hanging off the chest of the person wearing it. The images depict scenes of everyday life.</li>
                        <li>We ask you to formulate a query that you think would most likely result in the image to be retrieved by a typical search engine. Formulate your query as if you were the person trying to reminisce about that particular event. If an image doesn't have anything in it (for example it is very blurry), then please leave the input field blank and move onto the next image.</li>
                    </ol>
                </div>
            </div>

            <div id="lifelog-app">

                <section id="main">
                    <strong id="session-annotated"></strong>
                    <div id="lifelog-image-list"></div>
                </section>

            </div>
        </div> <!-- /container -->

        <script src="/static/jquery-1.11.3.min.js" type="text/javascript"></script>
        <script src="/static/underscore-min.js" type="text/javascript"></script>
        <script src="/static/backbone-min.js" type="text/javascript"></script>
        <script src="/static/pace.min.js" type="text/javascript"></script>
        <script src="/static/annotation-query.js" type="text/javascript"></script>

        <script type="text/template" id="item-template">
            <div id="item-<%- id %>">
                <h3><%- name %></h3>

                <div class="row">
                    <div class="col-md-7">
                        <p>Provide a search engine query that <b>you</b> would issue in order to retrieve the following image:</p>
                        <div class="input-group">
                            <input type="text" class="form-control" id="annotation" placeholder="Enter your query...">
                            <div class="input-group-btn">
                                <button class="btn btn-default" id="save">Next</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <img src="data:image/jpg;base64,<%- data %>" class="img-responsive" />
                    </div>
                </div>
                <hr>
            </div>

        </script>
    </body>
</html>