<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">


        <title>Image Annotator</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <link href="/static/sticky-footer-navbar.css" rel="stylesheet">
        <link href="/static/toastr.min.css" rel="stylesheet">
        <link href="/static/pace.css" rel="stylesheet">
        <link href="/static/custom.css" rel="stylesheet">

        <style>
            .concept {
                width: 96px;
            }
        </style>
    </head>

    <body>

        <div class="container">

            <div class="page-header">
                <h1>Relevance Assessment Annotations</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><a href="/">Go Home</a></p>
                    <strong>Instructions:</strong>
                    <ol>
                        <li>You will be presented with an image.</li>
                        <li>The images were shot with a personal lifelog camera, i.e. a camera hanging off the chest of the person wearing it. The images depict scenes of everyday life.</li>
                        <li>We ask you to judge the relevance of a concept with respect to an image. You must rank the relevance on a scale of 0 to 10, with 0 being not relevant and 10 being highly relevant.  If an image doesn't have anything in it (for example it is very blurry), then please score the image as 0.</li>
                    </ol>
                </div>
            </div>

            <div id="lifelog-app">

                <section id="topic"></section>
                <section id="main">
                    <strong id="session-annotated"></strong>
                    <div id="lifelog-image-list"></div>
                </section>

            </div>
        </div> <!-- /container -->

        <script src="/static/jquery-1.11.3.min.js" type="text/javascript"></script>
        <script src="/static/underscore-min.js" type="text/javascript"></script>
        <script src="/static/backbone-min.js" type="text/javascript"></script>
        <script src="/static/toastr.min.js" type="text/javascript"></script>
        <script src="/static/pace.min.js" type="text/javascript"></script>
        <script src="/static/annotation-assessment.js" type="text/javascript"></script>

        <script type="text/template" id="concept-index">
            <p><b><%- value %></b></p>
        </script>

        <script type="text/template" id="concept-button">
            <button type="button" class="btn btn-default concept"><%- value %></button>
        </script>

        <script type="text/template" id="item-template">
            <div id="item">
                <h3><%- name %></h3>

                <div class="row">

                    <div class="col-md-6">
                        <img src="data:image/jpg;base64,<%- data %>" class="img-responsive"/>
                        <hr/>
                        <div id="assessments"></div>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary next">Next</button>
                        <p>How relevant are these concepts to the image?</p>
                        <div class="btn-group-xs" role="group" id="available-concepts"></div>
                    </div>
                </div>
                <hr>
            </div>
        </script>

        <script type="text/template" id="assessment-template">
            <div id="<%- id %>">
                <p><b><%- value %></b></p>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default assessment-button" id="0-<%- id %>">0</button>
                    <button type="button" class="btn btn-default assessment-button" id="1-<%- id %>">1</button>
                    <button type="button" class="btn btn-default assessment-button" id="2-<%- id %>">2</button>
                    <button type="button" class="btn btn-default assessment-button" id="3-<%- id %>">3</button>
                    <button type="button" class="btn btn-default assessment-button" id="4-<%- id %>">4</button>
                    <button type="button" class="btn btn-default assessment-button" id="5-<%- id %>">5</button>
                    <button type="button" class="btn btn-default assessment-button" id="6-<%- id %>">6</button>
                    <button type="button" class="btn btn-default assessment-button" id="7-<%- id %>">7</button>
                    <button type="button" class="btn btn-default assessment-button" id="8-<%- id %>">8</button>
                    <button type="button" class="btn btn-default assessment-button" id="9-<%- id %>">9</button>
                    <button type="button" class="btn btn-default assessment-button" id="10-<%- id %>">10</button>
                </div>
            </div>
        </script>

        <script type="text/template" id="topic-template">
            <div class="alert alert-info">
                <%- topicId %> - <%- title %>
                <p><%- description %></p>
                <p><%- narrative %></p>
            </div>
        </script>
    </body>
</html>